<div id="wrapper">

        <!-- Navigation -->
            
        <header></header>
        <!-- /.navbar-top-links -->

        <!-- /.navbar-static-side -->
            <div id="page-wrapper" style="min-height: 60em;">
                <div class="row">
                  <div class="col-lg-2">
                  </div>
                  <div class="col-lg-8">
                    <div ui-view></div>
                  </div>
                  <div class="col-lg-2">
                  </div>
                </div>

            </div>
<div class="row footer">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-4">
    <p> The site is built for invoicing and purchasing </p>
  </div>
  <div class="col-lg-4">
    <p> Designed and built by <strong>vasudevan.palani@cognizant.com</strong> </p>
  </div>
  <div class="col-lg-2">
  </div>
</div>
            <!-- /#page-wrapper -->
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-header-{{$root.notificationLevel}}">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 class="modal-title" id="myModalLabel"><i class="fa {{$root.notificationIcon}}"></i>  {{$root.notificationTitle}}</h2> </div>
      <div class="modal-body"> {{$root.notificationMsg}} </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

